{% extends 'base.html.twig' %} {% block body %}
<div class="home-hero">
  <div class="container-xl">
    {# <div class="container-logo d-flex justify-content-center align-items-center">
      <img class="logo-img1" src="/img/beer-logo-home.png" alt="" />
      <img class="logo-img2" src="/img/beer-logo-home-2.png" alt="" />
    </div> #}
    <div class="container-text-logo">
      <h1 class="home-title">Passion for Good Beer!!</h1>
      <h4 class="home-subtitle">Post your Beer...</h4>
    </div>
  </div>
</div>
{% endblock %}
